body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

#fileInput {
    display: none;
}

label {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
}

#uploadBtn {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#uploadBtn:hover {
    background-color: #27ae60;
}