body {
    background-color: black;
    color: #fff; /* Cambiar el color del texto a blanco o algún color claro */
    font-family: 'Arial', sans-serif; /* Cambiar la fuente según tus preferencias */
    margin: 0;
    padding: 0;
}
.division {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #333; /* Cambiar el color de fondo del encabezado */
}

#historial {
    border: 1px solid #666; /* Agregar un borde alrededor del historial */
    padding: 10px;
    margin: 10px;
    max-height: 200px; /* Ajustar la altura máxima del historial según sea necesario */
    overflow-y: auto; /* Agregar una barra de desplazamiento vertical si es necesario */
}